body {
    text-align: center;
    background-color: #EAF6F6;
    font-family: 'Merriweather', serif;
}

h1 {  
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    
}
h2{
    font-weight: normal;
    color: #66BFBF;
    font-weight: normal;
    font-size: -webkit-xxx-large;
}
h3{
    color:#11999E;
    text-align: center;
}
.bio{
    font-size: xx-large;
}
p{
    line-height: 2;
    color: #11999E;
    
}
a{
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    color:gray;
    text-decoration: none;
}
a:hover{
    background-color: yellow;
}
hr{
    
    margin:100px auto;
    border: dotted aqua 6px;
    border-bottom: none;
    width: 4%;
}
.top-container {
    background-color: #EAF6F6;
    position: relative; /* To make bottom cloud relative to here(parent container) and not to whole body.*/
    padding-top: 100px;
    
    
}
.middle-container{
    margin: 100px 0;
    
}

.top-cloud{
    
    position:absolute;
    right:300px;
    top:50px;
}
.bottom-cloud{
   
    position: absolute;
    left:300px;
    bottom: 300px;
}
.image-arzz{
    width: 300px; 
    height: 337px; 
    object-fit: contain;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    
}
.skill-images-1{
    width: 200px; 
    height: 200px; 
    float: left;
    margin-right: 30px;
    
}
.gym{
    padding-top: 80px;
}
.dev{
    padding-top: 30px;
}
.skill-images-2{
    width: 100px; 
    height: 100px; 
    float: right;
    margin-left: 30px;
    padding-top: 70px;
   
    
}
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    
}
.btn{
    margin: 50px 0px;
    border-radius: 10em;
    background-color: #66BFBF;
    padding: 10px 20px;
    color: white;
}

